<div class="favorite-buttn">
<% if review.favorited?(current_user) %>
  <%= link_to r review_favorite_path(@movie, review), method: :delete, remote: true do %>
 <i class="far fa-heart favorite-btn" ></i>
   <% end %>
<% else %>
  <%= link_to review_favorite_index_path(@movie,review), method: :post, remote: true do %>
  <i class="fas fa-heart unfavorite-btn"></i>
  <% end %>
<% end %>
</div>