<div class="contents row">
  <p><%= @name %>さんのレビュー投稿一覧</p>

    <% @reviews.each do |review| %>
      <div class="mypage-box">
        <div class="mypage_rate">
        <div class="star-rating">
   
          <div class="star-rating-front" style="width: <%= review.rate*100/5 %> %">★★★★★</div>
          <div class="star-rating-back">★★★★★</div>
           </div>
        </div>
          
          <p><%= review.title %></p>
          <p><%= review.text %></p>
        </div>
    <% end %>
</div>