a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
.title-contents {
  width: 100vw;
  background-image: image-url('top-img-6.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  height: 80vh;
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

/* //画面上部の「人生を変えるフリマアプリ」帯部分 */

/* FURIMAが選ばれる3つの理由部分 */
.select-reason-contents {
  padding: 5vh 15vw;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #3ccace;
  color: #fff;
}

.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.reason-list-blue-text {
  color: #3ccace;
}

.reason-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAが選ばれる3つの理由部分 */

/* FURIMAの特徴 */
.feature-contents {
  padding: 5vh 15vw;
}

.feature-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAの特徴 */

/* 映画一覧 */

.movie-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.movie-contents>.title {
  font-size: 4.5vh;
  line-height: 1.4;
  color: #FF6B6B;
}

.movie-img-hover {
  transition: all 0.2s;
}

.movie-img-hover:hover{
  transform: translateY(-20px);
  opacity: 0.8;
  cursor: pointer;
}

.movie-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.movie-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  margin-left: 20px;
}


.item-img-content {
  position: relative;
}

.top-movie-img {
  width: 33vh;
  height: 43vh;
  margin-bottom: 10px;
}

.movie-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.movie-name {
  font-size: 2.5vh;
}

/* //商品一覧 */