a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
.title-contents {
  width: 100vw;
  background-image: image-url('top-img-6.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  height: 85vh;
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

/* //画面上部の「人生を変えるフリマアプリ」帯部分 */

/* 映画一覧 */

.movie-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8vh 0;
}

.movie-contents>.title {
  font-size: 4.5vh;
  line-height: 1.4;
  color: #FF6B6B;
  margin-bottom: 20px;
}

.movie-img-hover {
  transition: all 0.2s;
}

.movie-img-hover:hover{
  transform: translateY(-20px);
  opacity: 0.8;
  cursor: pointer;
}

.movie-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.movie-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  margin: 0 0 10px 20px;
}

.top-movie-img {
  width: 33vh;
  height: 45vh;
  margin-bottom: 10px;
}

.movie-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.movie-name {
  font-size: 2.5vh;
}

/* //商品一覧 */