/* 映画の詳細ページ */

.movie-show {
  background-color: #FFF;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.movie-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 0 18vh;
  display: flex;
  flex-direction: column;
}

.show-movie-img {
  width: 70vw;
  margin-left: 10vh;
}

.movie-box-img {
  width: 45vh;
  height: 50vh;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: scale-down;
}

.summary-box {
  margin: 50px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50vw;
}

.movie-img-content{
  text-align: left;
  float: left;
}

.summary-box>.summary {
  font-size: 2vh;
  text-align: left;
}

.summary-box>.category {
  font-size: 16px;
  margin-top: 40px;
}

.summary-box>.summary{
  width: 70vh;
}

.movie-title-box {
  font-size: 18px;
  margin: 40px 0px;
  overflow-wrap: anywhere;
  position: relative;
}

.show-box>.movie-title-box {
  font-size: 35px;
}

.show-star-rating{
  margin-left: 700px;
}

/* お気に入りボタン */

.like-buttn{
  text-align: right;
  margin: 0 30px 0 0;
  position: absolute;
  top: 195px;
  right: 210px;
}

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 33px;
  color: #808080; 
  margin-left: 20px;
  }
 
 .unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 33px;
  color: navy;
  margin-left: 20px;
  }

/* 編集ボタン・削除ボタン */
.movie-edit-btn{
  width: 10%;
  margin: 30px auto;
  padding: 10px;
  color: #FFF;
  background-color: gray;
  border-radius: 5px;
}

.movie-delete-btn{
  width: 10%;
  margin: 0 auto;
  padding: 10px;
  color: #FFF;
  background-color: gray;
  border-radius: 5px;
}

/* レビューを投稿するボタン */

.purchase-btn-review{
  background-color: #FF6B6B;
  border-radius: 6px;
  box-sizing: border-box;
  color: #ffffff;
  height: 60px;
  font-size: 1.4em;
  padding: 23px 100px;
}

.purchase-btn-review:hover{
  opacity: 0.6;
}

/* レビューの一覧 */
#reviews{
margin-top: 120px;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 23px;
  display: flex;
  margin-left: 40px;
}

.show-star-rating{
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 40px;
  display: flex;
}

.show-star-rating-score{
  margin: 15px 0 0 25px;
  font-size: 21px;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
}

.star-rating-score{
  margin: 5px 0 0 15px;
  font-size: 17px;
}

.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
}

.review{
  margin: 40px 0 60px 0;
  border-radius: 30px;
  width: 50vW;
  border-top: double 5px #4ec4d3;
  border-bottom: double 5px #4ec4d3;
  border-right: solid 1px #DDDDDD ;
  border-left: solid 1px #DDDDDD ;
}

.show-review-title{
font-weight: bold;
padding-left: 200px;
}

.review p{
  margin: 20px;
  text-align: left;
  padding: 0 20px;
}

.review-user{
  font-weight: bold;
}

.review-time{
  float: right;
  margin: 5px 30px 0 0;
}

/* いいねボタン */
.favorite-buttn{
  text-align: right;
  margin: 0 40px 15px 0;
}

.favorite-btn {
  width: 25px;
  height: 35px;
  font-size: 20px;
  color: #808080; 
  margin-left: 600px;
  }
 
 .unfavorite-btn {
  width: 25px;
  height: 35px;
  font-size: 20px;
  color: #e54747;
  margin-left: 600px;
  }

